<!doctype html>
<html lang="en">
  <head>
    <title>Task</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@100&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
  <body>
      <header>
          <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="#">Maxeon</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-lg-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="#">Products</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Use Cases</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                       
                        <button type="button" class="btnD1" data-toggle="modal" data-target="#myModal">
                            Signin
                          </button>
                      </li>
                  </ul>
                </div>
              </nav>
          </div>
      </header>
      <section class="banner" style="background-image: url('images/Bitmap.jpg'); width: 100%;">
          <div class="container">
            <div class="row">
               <div class="col-sm-6">
                  <h2>Where <br>
                    words <br>
                    fail, <br>
                    Music <br>
                    speaks.
                    </h2>
                  

                  
               </div>
            </div>
          </div>
          
          
          
            
          
               
      </section>

      <div class="container">
      
            
               
        <div class="input-group mb-4 border rounded-pill p-1">
            <div class="input-group-prepend border-0">
              <button id="button-addon4" type="button" class="btn btn-link text-info"><i class="fa fa-search"></i></button>
            </div>
            <input type="search" placeholder="Search for Playlists, Albums or Songs" aria-describedby="button-addon4" class="form-control bg-none border-0">
          </div>
       </div>   
      <section>
          <div class="container">
              <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6">
<h2 class="live">LIVE SPORTS.<br>
    MUSIC.<br>
    NEWS.<br>
    PODCASTS.</h2>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    
      
                      <div class="history-tl-container">
                        <ul class="tl">
                          <li class="tl-item active" ng-repeat="item in retailer_history">
                           
                            <div class="item-title tim">emuse brings you live sports</div>
                          </li>
                          <li class="tl-item" ng-repeat="item in retailer_history">
                            
                            <div class="item-title">emuse brings you live sports</div>
                          </li>
                          <li class="tl-item" ng-repeat="item in retailer_history">
                           
                            <div class="item-title">emuse brings you live sports</div>
                          </li>
                          <li class="tl-item" ng-repeat="item in retailer_history">
                           
                            <div class="item-title">emuse brings you live sports</div>
                          </li>
                      
                        </ul>
                      
                      </div>
                    
                      
                </div>
              </div>
          </div>
      </section>
      <section>
        <div class="container">
            <h3 class="explore">Ut enim ad minima </h3>
            <p class="explore1">At vero eos et accusamus et iusto odio <br> dignissimos ducimus qui blanditiis</p>
            <div class="row exp">
                <div class="col-1 ">

                </div>
                <div class="col-3">
                    <h3 class="explore2">dolores eos qui ratione </h3>
                    <p class="explore1">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                </div>
                <div class="col-1">
                       <img src="images/Vector 1.png">
                </div>
                <div class="col-3">
                    <h3 class="explore2">dolores eos qui ratione </h3>
                    <p class="explore1">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                </div>
                <div class="col-1">
                    <img src="images/Vector 1.png">
                </div>
                <div class="col-3">
                    <h3 class="explore2">dolores eos qui ratione </h3>
                    <p class="explore1">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class='box box1'><img src="images/Bitmap.png"></div>
                    <div class='box box2'><img src="images/Bitmap (2).png"></div>
                    <div class='box box3'><img src="images/Bitmap (3).png"></div>
                    <div class='box box4'><img src="images/Bitmap (1).png"></div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 pods">
                    <h2 class="live">EVOLVE.<br>
                        EXPLORE.</h2>   
                        <p class="explore1 ex">All the pods you hold dear, find them here first. From chart toppers to newly discovered gems.</p>
                        <button class="btn1"><i class="fa fa-play"></i> Listen Now</button>
              </div>
            </div>
        </div>
    </section>
<section class="back">
        
    <img src="images/Bitmap (4).png " width="100%">
    </section>

    <section class="pad">
        <div class="container">
            <h3 class="explore">Ut enim ad minima  </h3>
            <p class="explore1">At vero eos et accusamus et iusto odio <br> dignissimos ducimus qui blanditiis</p>
            <div class="row exp">
                
                <div class="col-lg-6">
                    <h3 class="explore2 explore3 ex">Consequuntur magni  </h3>
                    <p class="explore1 ex">Sed ut perspiciatis unde omnis iste natus error sit voluptatem 
                        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo 
                        inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia </p>
                </div>
                <div class="col-lg-6">
                       <img src="images/Frame 500.png " width="100%">
                </div>
                
            </div>
            <div class="row exp">
                
                <div class="col-lg-6">
                    <img src="images/Frame 500.png" width="100%">
                   
                </div>
                <div class="col-lg-6">
                    <h3 class="explore2 explore3 exp2 ex">Consequuntur magni  </h3>
                    <p class="explore1 exp2 ex">Sed ut perspiciatis unde omnis iste natus error sit voluptatem 
                        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo 
                        inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia </p>
                </div>
                
            </div>
            <div class="row exp">
                
                <div class="col-lg-6">
                    <h3 class="explore2 explore3 ex">Consequuntur magni  </h3>
                    <p class="explore1 ex">Sed ut perspiciatis unde omnis iste natus error sit voluptatem 
                        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo 
                        inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia </p>
                </div>
                <div class="col-lg-6">
                    <img src="images/Frame 500.png" width="100%">
                </div>
                
            </div>
        </div>
    </section>

    <section class="pad" style="background: #A2ABBA;">
        <div class="container">
        <div class=row>
            <div class="col-lg-6">
                <img class="roc" src="images/rocket 1.png" width="100%">
            </div>
            <div class="col-lg-6">
            <h2 class="rocket">Accusantium doloremque laudantium</h2>
            <div class="flex-container">
                <div class="flex-item-left"> <i class='fas fa-check-double' style='font-size:20px ;color:rgb(255, 254, 254)'></i> Neque porro <br>
                    quisquam </div>
                <div class="flex-item-right"><i class='fas fa-check-double' style='font-size:20px ;color:rgb(255, 254, 254)'></i> Neque porro <br>
                    quisquam </div>
                 <div class="flex-item-left"><i class='fas fa-check-double' style='font-size:20px ;color:rgb(255, 254, 254)'></i> Neque porro <br>
                    quisquam </div>
                <div class="flex-item-right"><i class='fas fa-check-double' style='font-size:20px ;color:rgb(255, 254, 254)'></i> Neque porro <br>
                    quisquam </div>
              </div>
            </div>

        </div>
    </div>
    </section>
    <footer class="" style="background: #6174B9;">
        <div class="container">
        <div class=row>
            <div class="col-lg-8">
                <h2 class="footer1">Copyright @  maxeon Inc. 2018-19 | Privacy Policy | Terms of Service | Sitemap</h2> 
            </div>
            <div class="col-lg-4">
            <h2 class="foot">MAXEON</h2>
           
            </div>
</div>
        </div>
    
    </footer>

      <div class="modal" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
          
            <!-- Modal Header -->
            
            <div class="modal-header">
                
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form action="action_page.php" >
                    <div class="container">
                      <h1 class="table-title">Sign Up</h1>
                     
                      
                      <label class="label1" for="name"><b>Full Name</b></label>
                      <input type="text" placeholder="First and Last Name" name="email" required>
                      <label for="email"><b>Email Address:</b></label>
                      <input type="text" placeholder="username@email.com" name="email" required>
                  
                      <label for="psw"><b>Password</b></label>
                      <input type="password" placeholder="Password" name="psw" required>
                  
                      <label for="psw-repeat"><b>Confirm Password:</b></label>
                      <input type="password" placeholder="Re-enter password" name="psw-repeat" required>
                  
                     
                  
                      
                  
                      <div class="clearfix">
                        
                        <button type="submit" class="signupbtn">Sign Up</button>
                        <p class="pera">By signing up, you agree to our Terms of Service & Privacy Policy</p>
                      </div>
                    </div>
                  </form>
            </div>
            
            <!-- Modal footer -->
           
            
          </div>
        </div>
      </div>
      
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <!-- Start of ChatBot (www.chatbot.com) code -->
<script src="//code.tidio.co/rquu45zn95khuuawc71hqsy6ykqgdkfe.js" async></script>
<!-- End of ChatBot code -->
  </body>
</html>
